.user-highlight {
  color: var(--main-color);
  font-weight: bold;
  font-size: 30px;
}

#user-info{
  font-size: 20px;
}

.personal-info-container{
  display: flex;
  flex-wrap: wrap;
  gap: 20px;
  border: 1px solid #ddd;
  border-radius: 10px;
  padding: 20px;
  background-color: #f9f9f9;
  margin-bottom: 30px;
}

.userdash-info-item {
  display: flex;
  align-items: center;
  width: 45%;
  margin-left: 10px;
}

.userdash-icon{
  color: var(--main-color);
  font-size: 30px;
  margin-right: 15px;
}

.userdash-info h4 {
  margin: 0;
  font-size: 14px;
  color: #555;
}

.userdash-info p {
  margin: 0;
  font-size: 16px;
  color: #000;
}


.ty h3{
  color: var(--main-color);
  font-weight: 700;
  font-size: 40px;
}

.ty p{
  font-weight: 300;
  font-size: 20px;
}



.carousel-overlay {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: rgba(0, 0, 0, 0.8); 
  z-index: 1;
}


.carousel-image {
  display: block;
  width: 100%;
  height: auto; 
  object-fit: cover; 
}

.carousel-caption {
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  z-index: 9;

}



.carousel-caption h5 {
  font-size: 2rem;
  color: var(--main-color);
  font-weight: 600;
}


.carousel-caption p {
  font-size: 1.2rem;
  color: #fff;
  font-weight: 300;
}

.dashuser-contact-item{
  display: flex;
  background-color: #F5F5F5;
  padding: 15px;
  align-items: center;
  width: 100%;

}
.dashuser-icon i {
  background-color: var(--main-color);
  border-radius: 50%;
  color: white;
  padding: 15px;
  font-size: 20px;
}

.dashuser-icon {
  margin: 10px;
}

.dashuser-btn {
  background-color: var(--main-color);
  border-radius: 30px;
  padding: 10px;
  text-align: center;
}


.dashuser-btn:hover {
  background-color: #61CE70;
}

.dashuser-content a, .dashuser-btn a{
  text-decoration: none;
  color: #000;
}

@media screen and (min-width:0px) and (max-width:600px) {
  .carousel-caption-text h5, .carousel-caption-text p{
    font-size: 15px;
  }
  .carousel-caption-text{
    margin-top: 10px;
  }
  .carousel-caption-text h5{
    margin-top: 20px;
  }
}